# PI_ALL parameter manager - runtime dependency
# Only ONE external package is required: openpyxl (MIT license).
# tkinter is bundled with the official python.org Python (no install needed).
# Anaconda/conda is NOT used (avoids commercial license fees).
openpyxl>=3.1,<4
